<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <title>Are you a glutton?</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="main.css"/>
  </head>

  <body>
    <main>
      <section class="container text-center" ng-controller="LunchCheckController">

        <!-- First row -->
        <div class="row">
          <div class="col-xs-12">
            <h1 class="heading">Think you're eating much?</h1>
            <p class="desc">Don't worry! Let me know what your menu is and I'll advise you :)</p>
          </div>
        </div>

        <!-- Second row -->

        <div class="row">
          <div class="col-xs-12">
            <form>
              <div class="input-group has-{{state}}">
                <input type="text" autofocus class="form-control menu-input" name="menu" placeholder="What are you planning to eat? Eg: Sushi, Noodles" ng-model="menu"/>
                <span class="input-group-btn">
                  <button class="btn btn-info submit-btn" ng-click="check();">Check If Too Much</button>
                </span>
              </div> <!-- /.input-group -->
              <div class="info-text">Note: I do NOT consider an empty item, i.e. , , , as an item towards to the count.</div>
            </form>
          </div> <!-- /.col-xs-12 -->
        </div> <!-- ./row -->

        <div class="row">
          <div class="col-xs-12">
            <div class="message {{state}}">
              {{ message }}
            </div>
          </div>
        </div>

      </section>

      <div class="code">
        <a href="https://github.com/arun1595/angular-a-first-encounter/tree/master/Assignments/are-you-a-glutton" class="btn" title="Source code"><></a>
      </div>
    </main>

  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  </body>
</html>
